.lucky-card {
    padding: 8px;
    /* border-radius: 16px; */
    /* background-color: #210F37; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    color: #A0C1B8;
    font-family: 'Segoe UI', sans-serif;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
  }
  
.lucky-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0px;
  color: #A55B4B;

}

.lucky-card-details {
    display: flex;
    flex-direction: column;
    
}
  
.lucky-card p {
  margin: 0;
  color: #DCA06D;
  text-align: left;
}
  
.lucky-card .fortune {
  font-size: 0.8rem;
  color: #A0C1B8;
  margin-top: 12px;
  font-style: italic;
  text-align: center;
}


  